@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

p { 
    font-size: 14px;
    line-height: 1.3rem;
    color: hsl(228, 12%, 48%);
}

h1{
    color: hsl(212, 21%, 14%);
    font-family: "Fraunces", sans-serif;
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.main{
    height: 100vh;
    background-color:hsl(30, 38%, 92%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card{
    background-color: white;
    max-width: 610px;
    border-radius: 20px;
    display: flex;
    margin: 20px;
}

.left{
    width: 50%;
    background-image: url("./images/image-product-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px 0px 0px 20px;
}

.right{
    width: 50%;
    padding: 35px;
}

.priceBox{
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.discountPrice{
    font-family: "Fraunces", sans-serif;
    font-size: 2rem;
    color: hsl(158, 36%, 37%);
    margin-right: 20px;
}

.btnCart{
    color: white;
    background-color: hsl(158, 36%, 37%);
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: .75rem;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
}

.btnCart:hover, :focus{
    background-color: hsl(158, 36%, 20%);
    border: 0;
}

.btnCart[data-icon="shoping-cart"]::before {
    content: "";
    background-image: url("/images/icon-cart.svg");
    width: 15px;
    height: 16px;
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width: 520px) {
    
    .card{
        display: flex;
        flex-direction: column;
        height: auto;
    }

    
    .left{
        width: 100%;
        height: 300px;
        border-radius: 20px 20px 0px 0px;
        background-position: center;
    }

    .right{
        width: 100%;
        padding: 20px;
    }

    h1{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
  }